footer {
    background-image: url('../images/footer-green.png');
    padding: 8em;
    font-size: 12px;
}
footer strong {
    font-size: 16px;
}
footer ul {
    list-style-image: url('../images/footer-arrow.png');
}
footer li {
    margin-top: 13px;
    margin-left: -10px;
}
footer a {
    color: rgb(238, 238, 238);
}

nav button {
    margin-left: 4em;
}

.nav-links:hover {
    background-color: rgb(17, 186, 192);
    cursor: 'pointer';
}

.jobcore-logo-img {
    max-height: 100px;
    width: 50px;
    margin: 0 auto;

    width: auto;
    height: auto;
    display: block;
}
.icon_form {
    position: relative;
    color: #aaa;
    font-size: 16px;
}

.icon_form input {
    width: 100%;
    height: 50px;
    padding-right: 65px;
    background: white;
    border: 1px solid #ced4da;
    border-radius: 25px;
}

.icon_form input {
    text-indent: 20px;
}
.icon_form .fa {
    float: right;
    top: 15px;
    position: absolute;
    z-index: 2;
    color: grey;
}
.icon_form .fa {
    left: 90%;
}
.icon_form .fas {
    float: right;
    top: 15px;
    position: absolute;
    z-index: 2;
    color: grey;
}
.icon_form .fas {
    left: 90%;
}

.background-image-platform {
    background-image: url('../images/platform-glance.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 75%;
    height: 20vw;
    margin: auto;
    margin-top: 3vw;
}

.gray-top-image {
    height: 450px;
    background-image: url('https://staticcrate.com/assets/img/categories/backgrounds_LOW_POLY_NO_TEXT.jpg');
    background-size: 100% 100%;
    text-shadow: 1px 1px 6px black;
    color: white;
}
.salmon-top-image {
    height: 450px;
    background-color: #fa8072;
    background-size: 100% 100%;
    text-shadow: 1px 1px 6px black;
    color: white;
}

@media (max-width: 576px) {
    .pink-top-image {
        height: 300px;
        /* background-image: url('https://ak6.picdn.net/shutterstock/videos/3248236/thumb/1.jpg'); */
        background-color: #f0f0f0;
        background-size: cover;
        text-shadow: 1px 1px 6px black;
        color: white;
        /* border: 5px solid blue;  */
    }
}

/* arrow color carousel */
.slick-prev:before {
    color: black !important;
}
.slick-next:before {
    color: black !important;
}
@media (max-width: 768px) {
    .grey-top-image {
        height: 250px;
        /* background-image: url('https://ak6.picdn.net/shutterstock/videos/3248236/thumb/1.jpg'); */
        background-color: #f0f0f0;
        background-size: cover;

        color: white;
        /* border: 5px solid blue;  */
    }
}

@media (min-width: 1000px) {
    .grey-top-image {
        height: 300px;
        background-color: #f0f0f0;
        background-size: cover;

        color: white;
    }
}
@media (max-width: 576px) {
    .grey-top-image {
        height: 300px;
        /* background-image: url('https://ak6.picdn.net/shutterstock/videos/3248236/thumb/1.jpg'); */
        background-color: #f0f0f0;
        background-size: cover;

        color: white;
        /* border: 5px solid blue;  */
    }
}

@media (max-width: 768px) {
    .pink-top-image {
        height: 250px;
        /* background-image: url('https://ak6.picdn.net/shutterstock/videos/3248236/thumb/1.jpg'); */
        background-color: #f0f0f0;
        background-size: cover;
        text-shadow: 1px 1px 6px black;
        color: white;
        /* border: 5px solid blue;  */
    }
}

@media (min-width: 1000px) {
    .pink-top-image {
        height: 300px;
        background-color: #f0f0f0;
        background-size: cover;
        text-shadow: 1px 1px 6px black;
        color: white;
    }
}
.darkgreen-top-image {
    height: 450px;
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BKpZoQ4viqlda90c/videoblocks-dark-green-abstract-motion-loopable-background_rzxkiiwqf_thumbnail-full01.png');
    background-size: 100% 100%;
    text-shadow: 1px 1px 6px black;
    color: white;
}

.job-seekers-content p,
.job-seekers-content li {
    color: rgb(165, 165, 165);
}
.job-seekers-content a {
    color: rgb(121, 121, 121);
}
.job-seekers-content a:hover {
    color: rgb(17, 186, 192);
}

.job-seekers-card {
    position: absolute;
    top: -200px;
    background: white;
}

.job-seekers-links {
    font-size: 20px;
    padding: 10px;
    width: 50px;
    text-align: center;
}

.position-card {
    padding: 20px;
    min-width: 260px;
    text-align: left;
}
.position-card:hover {
    cursor: pointer;
    background: #f7f7f7;
}
.position-card div {
    font-size: 11px;
}
.position-card span {
    color: rgb(194, 194, 194);
}
.position-card h6 {
    margin: 10px 0;
    font-size: 20px;
}
.position-card p {
    margin: 20px 0;
    color: rgb(165, 165, 165);
}
.position-card button,
.btn-small {
    font-size: 10px;
    padding: 2px 12px;
}
.position-card small {
    font-size: 11px;
}

.reviews {
    border: 2px solid lightgray;
    color: gray;
    font-size: 14px;
    padding: 24px;
    text-align: left;
}
@media only screen and (max-width: 425px) {
    .ratingtalent_star {
        padding-bottom: '36px';
    }
}
.round-links {
    display: inline-block;
    padding: 1px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    font-size: 20px;
}
.round-links:hover {
    background-color: rgb(17, 186, 192);
}
.fade.show {
    background: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
    height: 100vh !important;
    display: flex;
}

.modal-content {
    margin: auto !important;
    height: fit-content !important;
}
.jumbotron {
    position: relative;
    overflow: hidden;
    background-color: black;
}
.jumbotron video {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    opacity: 0.8;
}
.jumbotron .container {
    z-index: 2;
    position: relative;
}
.round-links span {
    display: inline-block;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-image: url('../images/footer-green.png');
}
#error-form {
    border: solid 2px red;
    background-color: #ffe5e5;
}
.animated-employee,
.animated-employer {
    max-height: 400px;
}

@media screen and (max-width: 1000px) {
    .s1000-display-column {
        display: flex !important;
        flex-direction: column !important;
    }

    .s1000-hide {
        display: none !important;
    }

    .s1000-collapse-margin {
        margin-left: 1em !important;
        margin-right: 1em !important;
    }

    .s1000-collapse-padding {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }

    .nav-top {
        text-align: center !important;
    }
}

@media screen and (max-width: 900px) {
    .s900-display-column {
        display: flex !important;
        flex-direction: column !important;
    }

    .s900-display-column-reverse {
        display: flex !important;
        flex-direction: column-reverse !important;
    }

    .s900-hide {
        display: none !important;
    }

    .s900-mx-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media screen and (max-width: 800px) {
    .s800-hide {
        display: none !important;
    }

    .s800-display-column {
        display: flex !important;
        flex-direction: column !important;
    }
}
.alert-thankyou-shown {
    opacity: 1;
    transition: all 325ms linear;
}

.alert-thankyou-hidden {
    opacity: 0;
    transition: all 325ms linear;
}

@media screen and (max-width: 700px) {
    .s700-hide {
        display: none !important;
    }
    .s700-display-column {
        display: flex !important;
        flex-direction: column !important;
    }

    .s700-mx-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .s700-collapse-padding {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }

    .s700-collapse-margin {
        margin-left: 1em !important;
        margin-right: 1em !important;
    }

    .pr-9 {
        padding-right: 0 !important;
    }
}

@media screen and (max-width: 600px) {
    nav button {
        margin-left: 0;
    }
}

/* .App {
    margin: 0 10%;
}

* {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    width: 100%;
    height: 200px;
    background-size: cover;
}

#block {
    width: 100%;
    height: 700px;
}

#list {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* height: 600px;
    overflow: scroll;} */

/* SOCIAL MEDIA SIDE BAR */
.icon-bar {
    position: fixed;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: black;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #f7f7f7;
}

.sidebar {
    background: white;
    color: black;
}
textarea {
    resize: none;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
}

.svg-inline--fa {
    vertical-align: -0.2em;
}

.rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.rounded-social-buttons .fa-twitter,
.fa-facebook-f,
.fa-linkedin,
.fa-youtube,
.fa-instagram {
    font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
    background: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
    background: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
    background: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
    background: #125688;
}
